<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 红屏全屏 Activity -->
    <application>
        <activity
            android:name="com.potatotv.pacc.mobile.plugin.RedscreenActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />
    </application>
</manifest>